@media (max-width: 900px) {
  #page-home .content {
    align-items: center;
    text-align: center;
  }

  #page-home header a {
    position: absolute;
    bottom: 10px;

    left: 50%;
    transform: translateX(-50%);
  }

  #page-home main a {
    height: 60px;
    width: 80%;
    max-width: 300px;
    position: absolute;
    top: 80%;
    transform: translateY(-50%);
  }

  #page-home main a .search {
    width: 60px;
    height: 60px;
  }

  #page-home main {
    align-items: center;
  }

  #page-home main .test h1 {
    font-size: 42px;
  }
}

@media (max-height: 760px) {
  #page-home {
    background-position-y: 200px;
  }
}

@media (max-width: 1110px) {
  #page-home main h1 {
    font-size: 44px;
  }
}